#title{
  text-align: center;
  font-size: 4em;
  font-weight: 600;
  font-stretch: extra-expanded;
  font-family: 'Roboto', sans-serif;
  /* text-transform: uppercase; */
  color: #696969;
}

#main{
  display: block;
  width: 100%
}

#center-div{
  margin: 0 auto;
  max-width: 800px;
  border-radius: 3px;
  display: inline-block;
}

#header{
  grid-column: header;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 40px 15px 20px 15px;
  text-align: center;
  font-size: 1em;
  font-weight: 400;
  font-stretch: semi-expanded;
  font-family: 'Open Sans', sans-serif;
  color: #808080;
}

#block-1{
  grid-area: block-1;
}

#block-2{
  grid-area: block-2;
}

#block-3{
  grid-area: block-3;
}

#block-4{
  grid-area: block-4;
}


header.center{
  text-align: center;
  display: block;
}

div.center{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



div{
  padding: 5px 5px 5px 5px;
  display: inline-block;
}


img.square{
  border-radius: 25px;

  width: auto;
  max-width: 270px;
  height: auto;
  /* max-height: 270px; */
}

img{
  image-orientation: from-image;
}

body {
  display: grid;
  grid-template-columns: 1.5em 1fr 1.5em;
  grid-template-areas:
    "header header header "
    ". block-1 ."
    ". block-2 ."
    ". block-3 ."
    ". block-4 ."
}

@media only screen and (min-width: 860px){
  body {
    grid-template-columns: 1.5em minmax(400px, 650px);
    grid-template-areas:
      "header header header header"
      ". block-1 block-2 ."
      ". block-3 block-4 ."
  }


}
