/*
body/main div formatting
*/
#center-div{
  display: inline-block;
}
body {
  float: none;
  margin: auto;
  min-width: 960px;
  max-width: 1200px;
  width: 90%;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header header header"
    ". block-1 block-2 ."
    ". block-3 block-4 ."
}

@media only screen and (max-width: 860px){
  body {
      float: none;
      margin: auto;
      max-width: 860px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr ;
      grid-template-areas:
        "header header header "
        ". block-1 ."
        ". block-2 ."
        ". block-3 ."
        ". block-4 ."
  }
}

/*
  general stuff
*/
div{
  padding: 5px 5px 5px 5px;
  display: inline-block;
}
img{
  image-orientation: from-image;
}

/*
  title stuff
*/
#header{
  grid-column: header;
  display: block;
  font-weight: 400;
  font-stretch: semi-expanded;
  background-color: #696969;
}

#title{
  text-align: center;
  font-size: 4em;
  font-weight: 600;
  font-stretch: extra-expanded;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: white;
}
#bio{
  color: white;
  font-weight: inherit;
  font-family: 'Open Sans', sans-serif;
  font-stretch: inherit;
  font-size: 1em;
}

/*
  song block stuff
*/

div.block{
  display: inline-block;
  float: none;
  text-align: center;
  border-radius: 25px;
  background-color: #DCDCDC;
  font-color: #696969;
  margin: 40px;
}

div.block.1{
  grid-area: block-1;
}

div.block.2{
  grid-area: block-2;
}

div.block.3{
  grid-area: block-3;
}

div.block.4{
  grid-area: block-4;
}


header.center{
  text-align: center;
  display: block;
}

img.square{
  border-radius: 25px;
  width: auto;
  max-width: 270px;
  height: auto;
  /* max-height: 270px; */
}
